
<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Join Us</h1>
    <p>We are a the best community of Science Fiction Zealots you will find. Let's talk Aliens, Timetravel, and much more. </p>
    <p><%= link_to "Sign Up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-sm-3 col-md-6">
      <div class ="thumbnail">
        <%= link_to (image_tag book.image.url(:medium), class: 'image'),  book %>
      </div>
    </div>
  <% end %>
</div>